@import '../app.scss';

.booking {
  width: 100%;
  //   height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticket-booking {
  margin-top: 0.5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: $black3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.6rem;
  border-radius: 7px;
  .movie-content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem 0rem;
    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 7px;
    }
    aside {
      h2 {
        font-size: 1.5rem;
        color: white;
      }
      p {
        margin: 0.5rem 0rem;
        font-size: 1rem;
        color: white;
        span {
          color: gray;
        }
      }
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.5rem;
    input {
      width: 90%;
      padding: 0.7rem 0.5rem;
      margin: 0.7rem 0rem;
      outline: none;
      border: none;
      border-radius: 7px;
      background-color: $black;
      color: white;
      font-size: 1rem;
    }
    button {
      margin-top: 0.7rem;
      width: 90%;
      padding: 0.7rem 0.5rem;
      border-radius: 7px;
      outline: none;
      border: none;
      background-image: $gradient;
      cursor: pointer;
      color: white;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 990px) {
  .ticket-booking {
    width: 45%;
  }
}

@media only screen and (max-width: 650px) {
  .ticket-booking {
    width: 60%;
    form {
      padding: 1rem 0rem;
      input,
      button {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .ticket-booking {
    width: 80%;
    .movie-content {
      padding: 0.5rem 0rem;
      img {
        width: 5rem;
        height: 5rem;
      }
      aside {
        h2 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
    form {
      padding: 0.5rem;
    }
  }
}
